@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,500&family=Ubuntu:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.bg-primary {
  background-color: #06071a;
}

/* .abstract-gradient{
  background-image: url('/src/assets/glow-gradient.png');
  background-repeat: no-repeat;
  background-size: contain;
} */

.floating {
  animation-name: floating;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 17px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.img-wcid {
  position: absolute;
  top: -40px;
  z-index: 2;
  border: solid 5px #06071a;
}

/* 
.decoration{
  z-index:;
  position: absolute;
  right: 50px;
} */